.List__Date .fa-clock {
    font-size: 0.8em;
    margin-right: 5px;
}

.List__Date {
    color: #ce3232;
    font-size: 0.9em;
    font-weight: bold;
}

.List__Title {
    width: calc(100% - 85px);
    font-weight: bold;
}

@media screen and (min-width: 800px) {
    .List__Title {
        width: calc(100% - 100px);
        font-size: 1.1em;
    }
}