.ListStatsWidget {
    font-size: 0.95em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    background-color: #ffffff;
    border: 2px dashed #ccc;
    border-radius: 5px;
    margin-bottom: 7px;
    padding: 4px;
}

.ListStatsWidget__item {
    margin: 2px 0;
}

@media screen and (min-width: 650px) {
    .ListStatsWidget__wrap {
        display: flex;
        align-items: center;
    }

    .ListStatsWidget__item {
        margin: 2px 10px;
    }

    .ListStatsWidget__item-sort {
        margin-left: auto;
    }
}