.DatePicker {
    width: 400px;
    margin: 0 auto;
    border: 2px solid #0575e6;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.DatePicker__CurrentDate {
    font-weight: bold;
}